label {
    display: inline-block;
    width: 200px;
}

input {
    display: inline-block;
    width: 200px;
}

.checkbox-container {
    display: flex;
}

.checkbox-container input {
    width: 20px;
}